@page
@model Proiect_WPF.Pages.Bilete.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bilet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bilet.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bilet.Client.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bilet.ZborID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bilet.ZborID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Bilet.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
